<section class="background">


<!-- Header Directive -->
<header-directive></header-directive>
<!-- Header Directive -->


<!--Start of system name and products section-->
<div class="systemsContainer">
  <div class="productSystem">
    <p>{{product[0].system}}</p>
  </div>
  <div class="productName">
    <p>{{product[0].name}}</p>
  </div>
</div>
<!--End of system name and products section-->


<div class="pictureInfoContainer">
  <div class="productImageContainer">
    <div class="productImage">

    <img ng-src="{{images[0].img}}" class="bigImage">

    </div>

    <!-- repeated row images -->
    <div class="productsLowImageRow">
     <div ng-repeat="item in images">
         <img class="rowOfImages" ng-src="{{item.img}}">
     </div>
   </div>

  </div>
  <div class="systemInfoContainer">

    <div class="systemInfo">
<p>{{product[0].description}}</p>
  </div>

  </div>
</div>

<div class="productDescriptionContainer" >

<div class="detailsContainer">
  <div class="detailsDiv">

  <span><p class="header">{{info[0].header}}</p></span>
  <span><p class="description">{{info[0].description}}</p></span>

  <span><p class="header">{{info[1].header}}</p></span>
  <span><p class="description">{{info[1].description}}</p></span>

  <span><p class="header">{{info[2].header}}</p></span>
  <span><p class="description">{{info[2].description}}</p></span>

  <span><p class="header">{{info[3].header}}</p></span>
  <span><p class="description">{{info[3].description}}</p></span>

  <span><p class="header">{{info[4].header}}</p></span>
  <span><p class="description">{{info[4].description}}</p></span>

    </div>

    <div class="extraFeaturesDiv">
      <div class="sideImageContainer">
        <div class="pictureRow">
        <img class="sideImages grayscale"src="https://s6.postimg.org/7krkfpm5t/Bottomslideshow4.jpg">
        </div>
        <div class="pictureRow">
          <img class="sideImages grayscale"src="https://s6.postimg.org/assu14xv5/Unit_Thomas_Morel_MilkDance1-933x1000.jpg" alt="">
        </div>
      </div>
      <br>
      <div class="sideImageContainer">
        <div class="pictureRow">
          <img class="sideImages grayscale"src="https://s6.postimg.org/dcjvhhw1d/Dunkeld_0009-1000x749.jpg" alt="">
        </div>
        <div class="pictureRow">
          <img class="sideImages grayscale"src="https://s6.postimg.org/49zzo7lo1/ktadjust_1137_0021-1000x746.jpg" alt="">
        </div>
      </div>
      <br>
      <div class="sideImageContainer">
        <div class="pictureRow">
          <img class="sideImages grayscale"src="https://s6.postimg.org/6488s7jap/42_Portfolio-1000x688.jpg" alt="">
        </div>
        <div class="pictureRow">
          <img class="sideImages grayscale"src="https://s6.postimg.org/iy6aljwq9/B8416458-2-1000x750.jpg" alt="">
        </div>
      </div>
      <br>
      <div class="sideImageContainer">
        <img class="sideImages grayscale"src="https://s6.postimg.org/r2j0418j5/Sakura-1000x562.jpg" alt="">
      </div>
    </div>

  </div>

</div>




<footer-directive></footer-directive>

</section>
