<section class="background">


<!-- Header Directive -->
<header-directive></header-directive>
<!-- Header Directive -->


<!--Start of system name and products section-->
<div class="systemsContainer">
  <div class="productSystem">
    <p>{{product[0].system}}</p>
  </div>
  <div class="productName">
    <p>{{product[0].name}}</p>
  </div>
</div>
<!--End of system name and products section-->


<div class="pictureInfoContainer">
  <div class="productImageContainer">
    <div class="productImage">

    <img ng-src="{{images[0].img}}" class="bigImage">

    </div>

    <!-- repeated row images -->
    <div class="productsLowImageRow">
     <div ng-repeat="item in images">
         <img class="rowOfImages" ng-src="{{item.img}}">
     </div>
   </div>

  </div>
  <div class="systemInfoContainer">

    <div class="systemInfo">
<p>{{product[0].description}}</p>
  </div>

  </div>
</div>

<div class="productDescriptionContainer" >

<div class="detailsContainer">
  <div class="test">
    INFO HERE create divs in here and place the data in here.  TEST TEST TEST 
  </div>
  <div class="test2">
    SIDE MENU HERE TEST TEST TEST
  </div>
  <!-- <p class="test">{{info[0].header}}</p> -->


</div>


</div>



<footer-directive></footer-directive>

</section>
