<section class="background">

<header-directive></header-directive>

<div class="systemsContainer">
  <div class="productSystem">
    {{product.system}}
  </div>
  <div class="productName">
 {{product.name}}
  </div>
</div>

<div class="pictureInfoContainer">
  <div class="productImageContainer">
    <div  class="productImage">

      <img ng-src="{{images[0].img}}" alt="">

    </div>
    <div class="productsLowImageRow" ng-repeat="photo in images">

      <img ng-src="{{photo.img}}">

    </div>
  </div>
  <div class="systemInfoContainer">
    <div class="systemInfo">

      <p>{{product.description}}</p>

    </div>
  </div>
</div>

<div class="productDescriptionContainer" >
<div class="">
  <h1>{{info[0].header}}</h1>
  <p>{{info[0].description}}</p>

</div>

</div>


<footer-directive></footer-directive>

</section>
