<section class="background">

  <div class="footerContainer">
    <div class="innerFooterContainer">
      <hr class="hr">
      <div class="upperFooter">
        <div class="footerUpperLeftDiv">
          <div class="upperLeftInfo">
            <h4>CREATE TO INSPIRE</h4>
          </div>
         <div class="paragraphOne">
           <p>Since the beginning Hasselblad cameras were born from a love for photography and the desire of a man to give photographers the technical excellence needed to realise their creative vision. That man was Victor Hasselblad.</p>
         </div>
         <div class="paragraphTwo">
           <p>For seventy five years now, Hasselblad has been devoted to a very simple task: to produce the finest camera equipment known to man. And for over seventy years, we have succeeded in doing just that. In making the tools that will enable us to live up to the Hasselblad brand proposition, “Create To Inspire”.</p>
         </div>
         <div class="copywrite">
           <p>© Copyright. All images on this site and their copyrights are owned by the photographers. Images are not to be reprinted or reused without the express permission of the photographer who took them.</p>
         </div>
        </div>

        <div class="footerUpperRightDiv">
          <div class="upperRightInfo">
            <h4>CONNECT WITH US</h4>
          </div>
          <div class="upperRightIcons">
            <div class="socialMediaIcons iconBorder">
                <!--facebook-->
              <i class="fa fa-facebook" aria-hidden="true"></i>

            </div>
            <div class="socialMediaIcons iconBorder">
                <!--instagram-->
              <i class="fa fa-instagram" aria-hidden="true"></i>

            </div>
            <div class="socialMediaIcons iconBorder">
               <!--twitter-->
              <i class="fa fa-twitter" aria-hidden="true"></i>

            </div>
            <div class="socialMediaIcons iconBorder">
              <!--youtube-->
              <i class="fa fa-youtube" aria-hidden="true"></i>

            </div>
          </div>
        </div>

      </div>
      <hr class="hr">
      <div class="lowerFooter">
        FINISH THE SECTION LATER
      </div>
      <hr class="hr">
    </div>
  </div>




</section>
