<section class="background">



   <!-- Start of header -->

    <div class="container">

      <div class="mainContainer">
        <div class="logoContainer">
          <img ui-sref="home" class="hasselblad" src="https://s6.postimg.org/6ddmnhw1d/logo.png">
          <img class="inspire" src="https://s6.postimg.org/cd1dr5gtt/Inspire_logo.png" alt="">
        </div>

        <div class="menuContainer">
          <div class="navContainer">
            <div class="navButton" ng-click="showProducts = !showProducts; showInspiration = false">
              PRODUCTS
            </div>
          </div>
          <div class="navContainer">
            <div class="navButton" ng-click="showInspiration = !showInspiration; showProducts = false">
              INSPIRATION
            </div>
          </div>
          <div class="navContainer">
            <div class="navButton">
            ABOUT
          </div></div>
          <div class="navContainer">
            <div class="navButton">
            OUR WORLD
          </div>
         </div>
        </div>
      </div>

      <!-- login -->
      <div class="loginDiv">
        <div class="loginText">
            <span>English</span>
            <i class= "iconMargin fa fa-angle-right"></i>
        </div>
          <div class="loginText">
              <span>Sign in</span>
              <i class=" iconMargin fa fa-camera" aria-hidden="true"></i>
          </div>
      </div>
      <!-- login -->

  </div>
  <!-- End of header -->


    <!-- Start drop down menu  -->

  <div ng-class="{'dropDownTransition':showProducts}"class="dropDownMenuContainer">
     <div class="dropDownMenu">
       <div class="dropDownMenuDiv">
         <img class="dropDownImage" src="https://s6.postimg.org/cxl07kzg1/x_systems_nav_5.jpg">
         <img class="dropDownImage" src="https://s6.postimg.org/filzhczg1/H6_system_nav.jpg">
       </div>

       <!-- Starts ui srefs -->
       <div class="menuSrefDiv">
         <div class="xSystemsContainer">
           <div class="xSystems">
             <p>X SYSTEM</p>
           </div>

           <div ui-sref="about({id:1})" class="xCameraOne">
             <p>X1D-50C</p>
           </div>
           <div ui-sref="about({id:2})" class="xCameraTwo">
             <p>X1D-50C4116 EDITION</p>
           </div>
         </div>

         <div class="hSystemsContainer">

           <div class="hSystems">
             <p>H6 SYSTEM</p>
           </div>
           <div ui-sref="about({id:3})" class="hCameraOne">
             <p>H6D-100C</p>
           </div>
           <div ui-sref="about({id:4})" class="hCameraTwo">
             <p>H6D-50C</p>
           </div>
           <div ui-sref="about({id:5})" class="hCameraThree">
             <p>H6X</p>
           </div>
          </div>

          <!-- End ui srefs -->

       </div>


     </div>
     </div>
  </div>
  <div ng-class="{'dropDownTransition': showInspiration}" class="dropDownMenuContainer">
   INSPIRATION HERE
  </div>
  <!-- End drop down menu  -->


</section>
