<section class="background">

 <!-- Start of header -->

  <div class="container">

    <div class="mainContainer">
      <div class="logoContainer">
        <img ui-sref="home" class="hasselblad" src="https://s6.postimg.org/6ddmnhw1d/logo.png">
        <img class="inspire" src="https://s6.postimg.org/cd1dr5gtt/Inspire_logo.png" alt="">
      </div>

      <div class="menuContainer">
        <div class="navContainer">
          <div class="navButton" ng-click="showProducts = !showProducts; showInspiration = false">
            PRODUCTS
          </div>
        </div>
        <div class="navContainer">
          <div class="navButton" ng-click="showInspiration = !showInspiration; showProducts = false">
            INSPIRATION
          </div>
        </div>
        <div class="navContainer">
          <div class="navButton">
          ABOUT
        </div></div>
        <div class="navContainer">
          <div class="navButton">
          OUR WORLD
        </div>
       </div>
      </div>
    </div>

<!-- login -->
<div class="loginDiv">Login goes here</div>
<!-- login -->

</div>
<!-- End of header -->


  <!-- Start drop down menu  -->

<div ng-class="{'dropDownTransition':showProducts}"class="dropDownMenuContainer">
   <div class="dropDownMenu">
     <div class="dropDownMenuDiv">
       <img class="dropDownImage" src="https://s6.postimg.org/cxl07kzg1/x_systems_nav_5.jpg">
       <img class="dropDownImage" src="https://s6.postimg.org/filzhczg1/H6_system_nav.jpg">
     </div>

     <!-- Starts ui srefs -->
     <div class="menuSrefDiv">
       <div class="xSystemsContainer">
         <div class="xSystems">
           <p>X SYSTEM</p>
         </div>

         <div ui-sref="about({id:1})" class="xCameraOne">
           <p>X1D-50C</p>
         </div>
         <div ui-sref="about({id:2})" class="xCameraTwo">
           <p>X1D-50C4116 EDITION</p>
         </div>
       </div>

       <div class="hSystemsContainer">

         <div class="hSystems">
           <p>H6 SYSTEM</p>
         </div>
         <div ui-sref="about({id:3})" class="hCameraOne">
           <p>H6D-100C</p>
         </div>
         <div ui-sref="about({id:4})" class="hCameraTwo">
           <p>H6D-50C</p>
         </div>
         <div ui-sref="about({id:5})" class="hCameraThree">
           <p>H6X</p>
         </div>
        </div>

        <!-- End ui srefs -->

     </div>


   </div>
   </div>
</div>
<div ng-class="{'dropDownTransition': showInspiration}" class="dropDownMenuContainer">
 INSPIRATION HERE
</div>
<!-- End drop down menu  -->



  <!-- start of main image Container-->
  <div class="imageContainer">
  <img class="mainImages" src="https://s6.postimg.org/5gbssd9wx/Slideshow3.jpg">
</div>

<!-- end of main image Container -->





<!-- Start of lower image row -->
<div class="lowImageContainer">

<div class="lowImagegDiv"><img class="lowerImages" src="https://s6.postimg.org/wgl0378tt/Bottomslideshow6.jpg"></div>

<div class="lowImagegDiv"><img class="lowerImages" src="https://s6.postimg.org/3xbt9ndyp/Bottomslideshow1.jpg"></div>

<div class="lowImagegDiv"><img class="lowerImages" src="https://s6.postimg.org/8khvbf1bl/Bottomslideshow2.jpg"></div>

<div class="lowImagegDiv"><img class="lowerImages" src="https://s6.postimg.org/iye3qwwoh/Bottomslideshow5.jpg"></div>

<div class="lowImagegDiv"><img class="lowerImages" src="https://s6.postimg.org/7krkfpm5t/Bottomslideshow4.jpg"></div>

<div class="lowImagegDiv"><img class="lowerImages" src="https://s6.postimg.org/l0el55unl/Bottomslideshow3.jpg"></div>

</div>

<!--End of lower image row  -->


<!--footerContainer-->
<div class="footerContainer">
  <div class="innerFooterContainer">
    <hr class="hr">
    <div class="upperFooter">
      <div class="footerUpperLeftDiv">
        <div class="upperLeftInfo">
          <h4>CREATE TO INSPIRE</h4>
        </div>
       <div class="paragraphOne">
         <p>Since the beginning Hasselblad cameras were born from a love for photography and the desire of a man to give photographers the technical excellence needed to realise their creative vision. That man was Victor Hasselblad.</p>
       </div>
       <div class="paragraphTwo">
         <p>For seventy five years now, Hasselblad has been devoted to a very simple task: to produce the finest camera equipment known to man. And for over seventy years, we have succeeded in doing just that. In making the tools that will enable us to live up to the Hasselblad brand proposition, “Create To Inspire”.</p>
       </div>
       <div class="copywrite">
         <p>© Copyright. All images on this site and their copyrights are owned by the photographers. Images are not to be reprinted or reused without the express permission of the photographer who took them.</p>
       </div>
      </div>

      <div class="footerUpperRightDiv">
        <div class="upperRightInfo">
          <h4>CONNECT WITH US</h4>
        </div>
        <div class="upperRightIcons">
          <div class="socialMediaIcons iconBorder">
              <!--facebook-->
            <i class="fa fa-facebook" aria-hidden="true"></i>

          </div>
          <div class="socialMediaIcons iconBorder">
              <!--instagram-->
            <i class="fa fa-instagram" aria-hidden="true"></i>

          </div>
          <div class="socialMediaIcons iconBorder">
             <!--twitter-->
            <i class="fa fa-twitter" aria-hidden="true"></i>

          </div>
          <div class="socialMediaIcons iconBorder">
            <!--youtube-->
            <i class="fa fa-youtube" aria-hidden="true"></i>

          </div>
        </div>
      </div>

    </div>
    <hr class="hr">
    <div class="lowerFooter">
      FINISH THE SECTION LATER
    </div>
    <hr class="hr">
  </div>
</div>


</section>
