<section class="background">

  <div class="container">

    <div class="mainContainer">
      <div class="logoContainer">
        <img class="hasselblad" src="https://s6.postimg.org/6ddmnhw1d/logo.png">
        <img class="inspire" src="https://s6.postimg.org/cd1dr5gtt/Inspire_logo.png" alt="">
      </div>

      <div class="menuContainer">
        <div class="navContainer">
          <div class="navButton" ng-click="showDiv = !showDiv">
            PRODUCTS
          </div>
        </div>
        <div class="navContainer">
          <div class="navButton" ng-click="inspiration = !inspiration">
            INSPIRATION
          </div>
        </div>
        <div class="navContainer">
          <div class="navButton">
          ABOUT
        </div></div>
        <div class="navContainer">
          <div class="navButton">
          OUR WORLD
        </div>
       </div>
      </div>
    </div>

<!-- login -->
<div class="loginDiv">Login goes here</div>
<!-- login -->

</div>
<!-- end of header -->


  <!--drop down menu  -->
<div ng-show="showDiv" class="dropDownMenu">
 <hr>
 HELLO NICK
</div>
<div ng-show="inspiration" class="dropDownMenu">
 <hr>
 INSPIRATION HERE
</div>
<!--drop down menu  -->



  <!-- start of main image Container-->
  <div class="imageContainer">
  <img class="mainImages" src="https://s6.postimg.org/5gbssd9wx/Slideshow3.jpg">
</div>

<!-- end of main image Container -->





<!-- Start of lower image row -->
<div class="lowImageContainer">

<div class="lowImagegDiv"><img class="lowerImages" src="https://s6.postimg.org/wgl0378tt/Bottomslideshow6.jpg"></div>

<div class="lowImagegDiv"><img class="lowerImages" src="https://s6.postimg.org/3xbt9ndyp/Bottomslideshow1.jpg"></div>

<div class="lowImagegDiv"><img class="lowerImages" src="https://s6.postimg.org/8khvbf1bl/Bottomslideshow2.jpg"></div>

<div class="lowImagegDiv"><img class="lowerImages" src="https://s6.postimg.org/iye3qwwoh/Bottomslideshow5.jpg"></div>

<div class="lowImagegDiv"><img class="lowerImages" src="https://s6.postimg.org/7krkfpm5t/Bottomslideshow4.jpg"></div>

<div class="lowImagegDiv"><img class="lowerImages" src="https://s6.postimg.org/l0el55unl/Bottomslideshow3.jpg"></div>

</div>

<!--End of lower image row  -->


<!--footerContainer-->
<div class="footerContainer">
  <div class="innerFooterContainer">
    <hr class="hr">
    <div class="upperFooter">
      <div class="footerUpperLeftDiv">
        <div class="upperLeftInfo">
          <h4>CREATE TO INSPIRE</h4>
        </div>
       <div class="paragraphOne">
         <p>Since the beginning Hasselblad cameras were born from a love for photography and the desire of a man to give photographers the technical excellence needed to realise their creative vision. That man was Victor Hasselblad.</p>
       </div>
       <div class="paragraphTwo">
         <p>For seventy five years now, Hasselblad has been devoted to a very simple task: to produce the finest camera equipment known to man. And for over seventy years, we have succeeded in doing just that. In making the tools that will enable us to live up to the Hasselblad brand proposition, “Create To Inspire”.</p>
       </div>
       <div class="copywrite">
         <p>© Copyright. All images on this site and their copyrights are owned by the photographers. Images are not to be reprinted or reused without the express permission of the photographer who took them.</p>
       </div>
      </div>

      <div class="footerUpperRightDiv">
        <div class="upperRightInfo">
          <h4>CONNECT WITH US</h4>
        </div>
        <div class="upperRightIcons">
          CREATE SOCIAL ICONS
        </div>
      </div>

    </div>
    <hr class="hr">
    <div class="lowerFooter">
      TEST 2
    </div>
    <hr class="hr">
  </div>
</div>


</section>
