<section class="background">

  <div class="container">

    <div class="mainContainer">
      <div class="logoContainer">
        <img class="hasselblad" src="https://s6.postimg.org/6ddmnhw1d/logo.png">
        <img class="inspire" src="https://s6.postimg.org/cd1dr5gtt/Inspire_logo.png" alt="">
      </div>

      <div class="menuContainer">
        <div class="navContainer">
          <div class="navButton" ng-click="showDiv = !showDiv">
            PRODUCTS
          </div>
        </div>
        <div class="navContainer">
          <div class="navButton">
            INSPIRATION
          </div>
        </div>
        <div class="navContainer">
          <div class="navButton">
          ABOUT
        </div></div>
        <div class="navContainer">
          <div class="navButton">
          OUR WORLD
        </div>
       </div>
      </div>
    </div>

<!-- login -->
<div class="loginDiv">Login goes here</div>
<!-- login -->

</div>
<!-- end of header -->


  <!--drop down menu  -->
<div ng-show="showDiv" class="dropDownMenu">
 <hr>
</div>
<!--drop down menu  -->



  <!-- start of main image Container-->
  <div class="imageContainer">
  <img class="mainImages" src="https://s6.postimg.org/5gbssd9wx/Slideshow3.jpg">
</div>

<!-- end of main image Container -->





<!-- Start of lower image row -->
<div class="lowImageContainer">

<div class="lowImagegDiv"><img class="lowerImages" src="https://s6.postimg.org/wgl0378tt/Bottomslideshow6.jpg"></div>

<div class="lowImagegDiv"><img class="lowerImages" src="https://s6.postimg.org/3xbt9ndyp/Bottomslideshow1.jpg"></div>

<div class="lowImagegDiv"><img class="lowerImages" src="https://s6.postimg.org/8khvbf1bl/Bottomslideshow2.jpg"></div>

<div class="lowImagegDiv"><img class="lowerImages" src="https://s6.postimg.org/iye3qwwoh/Bottomslideshow5.jpg"></div>

<div class="lowImagegDiv"><img class="lowerImages" src="https://s6.postimg.org/7krkfpm5t/Bottomslideshow4.jpg"></div>

<div class="lowImagegDiv"><img class="lowerImages" src="https://s6.postimg.org/l0el55unl/Bottomslideshow3.jpg"></div>

</div>

<!--End of lower image row  -->

<div class="footerContainer">
<p>test div</p>
</div>


</section>
