@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:100');


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


//home page styles

//body
.background{
  background-color: black;
  // height: 100vh;
  width: 100vw;
}
//body



//Start of header
.container{
  display: flex;
  justify-content: center;
  background-color: black;
  height: 223px;
  width: 100vw;
}


.mainContainer{
  background-color: black;
  height: 223px;
  width: 50vw;
  margin-right: 84px;
  margin-left: 236px;
}

.logoContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: black;
  height: 148.5px;
  width: 50vw;
  margin-top: 25px;
}

.menuContainer{
  display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    // height: 31px;
    // width: 50vw;

}

.hasselblad{
  height: 31.9px;
  width: 278px
}

.inspire{
  height: 25.73px;
  width: 278px;
}

.navContainer{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 31px;
  width: 140.7px;
}

.navButton{
  background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 19px;
    width: 137.69px;
    font-size: 16px;
    line-height: 23px;
    font-family: 'Libre Franklin', sans-serif;
    cursor: pointer;
    letter-spacing: 4px;
    color: #d9d9d9;

}
// end of header/nav

// login
.loginDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  margin-top: 55.75px;
  height: 111.5px;
  width: 10vw;
  color: white;
}
// login

//Dropdown menu
.dropDownMenu{
  background-color: limegreen;
    border-top: whitesmoke;
    border-top-style: solid;
    border-top-width: 1px;
    display: flex;
    height: 300px;
    margin-left: 65px;
    margin-right: 65px;
}

.dropDownMenuOne{
  background-color: aqua;
  display: flex;
  justify-content: center;
  height: inherit;
  width: 50%;
  margin-left: 300px;
}

.dropDownMenuOneImage{
  background-color: blue;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    padding-right: 65px;
    height: 130px;
    width: 100%;
  // object-fit: contain;
  // overflow: hidden;
}

.dropDownMenuTwo{
  background-color: red;
  display: flex;
  justify-content: center;
  height: inherit;
  width: 50%;
  margin-right: 300px;
}

.dropDownMenuTwoImage{
  background-color: purple;
  display: flex;
  justify-content: flex-start;
  padding-left: 65px;
  margin-top: 10px;
  height: 130px;
  width: 100%;
  // object-fit: contain;
  // overflow: hidden;
}

.dropDownImage{
  object-fit: cover;
  overflow: hidden;
  z-index: 1;

}
//DropDown menu



// start of imageContainer
.imageContainer{
  background-color: black;
  height: 744.05px;
  width: 100vw;
}

.mainImages{
  height: 744.05px;
  width: 100vw;
  object-fit: cover;
  z-index: 1;

}
//end of imageContainer




//Start lower image div
.lowImageContainer{
  background-color: black;
  display: flex;
  justify-content: space-between;
  height: 173.33px;
  width: 100vw;
  overflow: hidden;
}

.lowImagegDiv{
  background-color: black;
  height: 173.33px;
  // width: 213.33px;
  width: 100vw;
  object-fit: cover;
  overflow: hidden;
}

.lowerImages{
  height: inherit;
  width: 100%;
  object-fit: cover;
  z-index: 1;
}
//End lower image div




//Footer container

//Start Upper Footer
.footerContainer{
  background-color: orange;
  height: 622px;
  width: 100vw;

}

.innerFooterContainer{
  background-color: red;
  // height: 622px;
  height: inherit;
  margin-left: 65px;
  margin-right: 65px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.upperFooter{
background-color: black;
display: flex;
justify-content: center;
align-items: center;
height: 291.5px;
width: inherit;
overflow: hidden;
}

.hr{
  margin-top: 20px;
    margin-bottom: 20px;
    // margin-left: 93px;
    // margin-right: 93px;
}


.footerUpperLeftDiv{
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 291.5px;
  width: 590px;
}

.footerUpperRightDiv{
  display: flex;
    flex-direction: column;
    background-color: black;
    height: 291.5px;
    width: 590px;
}

.upperRightInfo{
  background-color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 15px;
  height: 16px;
  width: 550px;
  font-family: 'Libre Franklin', sans-serif;
  text-transform: uppercase;
  color: white;
}

.upperRightIcons{
  background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px;
    padding-left: 15px;
    height: 75px;
    width: 300px;
}

.upperLeftInfo{
  background-color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  // padding-left: 15px;
  height: 16px;
  width: 550px;
  font-family: 'Libre Franklin', sans-serif;
  color: white;
}

.paragraphOne{
  background-color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  // height: 66px;
  // width: 550px;
  width: inherit;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 15px;
  color: white;
}

.paragraphTwo{
  background-color: black;
  margin-top: 15px;
  margin-bottom: 15px;
  // height: 66px;
  // width: 550px;
  width: inherit;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 15px;
  color: white;
}

.copywrite{
  background-color: black;
  height: 44px;
  width: 550px;
  margin-bottom: 10px;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 12px;
  font-style: italic;
  color: white;
}

.socialMediaIcons{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 58px;
  color: white;
}

.iconBorder{
  border: 2px solid white;
  width: 50px;
  height: 50px;
  border-radius: 45px;
}
//End Upper Footer



//Start Lower footer
.lowerFooter{
  background-color: limegreen;
  display: flex;
  justify-content: center;
  align-items: center;
  // border-top: #5B5B5B;
  // border-top-style: solid;
  // border-top-width: thin;
  height: 149px;
  width: inherit;
}


//End Lower Footer



///////////////////////////////////////////////////
///////////////////////////////////////////////////





//Start About Page/////////////////////////////////

.systemsContainer{
  background-color: aqua;
  height: 66.5px;
  // width: 100vw
  margin-left: 65px;
  margin-right: 65px;
}

.productSystem{
  background-color: yellow;
  height: 16px;
  font-size: 15px;
}

.productName{
  background-color: purple;
  height: inherit;
  font-size: 36px;
}

.pictureInfoContainer{
  background-color: salmon;
  display: flex;
  justify-content: center;
  height: 499.20px;
  margin-left: 65px;
  margin-right: 65px
}

.productImageContainer{
  background-color: teal;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: inherit;
    width: 50%;
}

.productImage{
  background-color: red;
  height: 385px;
  width: 88%;
}

.productsLowImageRow{
  background-color: yellow;
    height: 65px;
    width: 59%;
    margin-right: 29%;
}


.systemInfoContainer{
  background-color: lime;
  height: inherit;
  width: 50%
}

.systemInfo{
  background-color: aqua;
  height: 167px;
  width: 92%;
}

/// lower product info table

.productDescriptionContainer{
  background-color: hotpink;
  height: 947px;
  width: 100vw;
}
